<!DOCTYPE html>
<html>
	<head>
		<h1> Welcome </h1>
	</head>
	
	<body>
		<h2>Category page</h2>
		{% for item in categories %}
		<tr>
			<div>
				<td> {{item.name}} </td>
					<a href="{{url_for('deleteCategory')}}">
						<button class="button" id="delete-category">
							Delete Category
						</button>
					</a>
			</div>
		</tr>
		{% endfor %}
		<a href="{{url_for('showItems')}}">
			<button class="button" id="show-items">
				Show Items
			</button>
		</a>
		<a href="{{url_for('newCategory')}}">
			<button class="button" id="new-category">
				New Category
			</button>
		</a>
		<div>
			<a href="{{url_for('login')}}">
				<button class="button" id="login">
					Login
				</button>
			</a>
		</div>
	</body>
</html>