<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./css/styles.css">
	</head>
	

	<body>
	<h3>Delete Category page</h3>
		<div class="row">
					<form action="#" method = "post">
						<div class="form-group">
						<label for="message">Are you sure you wish to delete this category? </label>
						This will also delete all items associated with this category.
						<form action="{{ url_for('deleteCategory', cat_id = category.cat_id)}}" method = 'post'>
						<button class="button" id="delete">Delete</button>
						</div>
					</form>
				</div>
		<a href="{{url_for('showCategories')}}">
			<button class="button" id="show-categories">
				Cancel
			</button>
		</a>
	</body>

</html>