<!DOCTYPE html>
<html>
	<head>
		<h1> Welcome [User name here]</h1>
	</head>
	

	<body>
	<h3>Delete Category page</h3>
		<div class="row">
					<form action="#" method = "post">
						<div class="form-group">
						<label for="message">Are you sure you wish to delete this category? </label>
						This will also delete all items associated with this category.
						<button type="submit" id="submit" type="submit">Delete</button>
						</div>
					</form>
				</div>
		<a href="{{url_for('showCategories')}}">
			<button class="button" id="show-categories">
				Show Categories
			</button>
		</a>
	</body>

</html>