<!DOCTYPE html>
<html>
	<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	

	<body>
	<h1>Delete Category page</h1>
		<div class="row">
					<form action="#" method = "post">
						<div class="form-group">
						<label for="message">Are you sure you wish to delete this category? </label>
						This will also delete all items associated with this category.
						<form action="{{ url_for('deleteCategory', cat_id = category.cat_id)}}" method = 'post'>
						<button class="button" id="delete">Delete</button>
						</div>
					</form>
				</div>
						<p>
							<a href = '{{url_for('showCategories')}}'> Cancel </a>
						</p>
	</body>

</html>