
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<head>
		<link rel="stylesheet" href="./css/styles.css">
		<h1> {{category.name}}</h1>
		<h2>Items</h2>
	</head>
	

	<body>
		{% for item in items %}
		<tr>
			<p>
				<td> {{item.name}} : {{item.description}} </td>
				<a href = "{{url_for('editItem', cat_id = category.cat_id, item_id=item.item_id)}}">
					<button class="button" id="edit">Edit</button>
				</a>
				<a href = "{{url_for('deleteItem', cat_id = category.cat_id, item_id=item.item_id)}}">
					<button class="button" id="delete">Delete</button>
				</a>
			</p>
		</tr>
		{% endfor %}
		<div>
			<a href="{{url_for('newItem', cat_id=category.cat_id)}}">
				<button class="button" id="newItem"> New Item</button>
			</a>
		</div>
		<div>
		<a href="{{url_for('showCategories')}}">
			<button class="button" id="show-categories">
				Show Categories
			</button>
		</a>
	</div>
	<div>
	</body>

</html>