<!DOCTYPE html>
<html>
	<head>
		<h1> Welcome [User name here]</h1>
		<h2>Items</h2>
	</head>
	

	<body>
		{% for item in items %}
		<tr>
			<div>
				<td> {{item.name}} : {{item.description}} </td>
				<a href="{{url_for('editItem')}}">
					<button class="button" id="edit-item">
						Edit Item
					</button>
				</a>
				<a href="{{url_for('deleteItem')}}">
					<button class="button" id="delete-item">
						Delete Item
					</button>
				</a>
			</div>
		</tr>
		{% endfor %}
		<div>
		<a href="{{url_for('showCategories')}}">
			<button class="button" id="show-categories">
				Show Categories
			</button>
		</a>
	</div>
	<div>
		<a href="{{url_for('newItem')}}">
			<button class="button" id="create-Item">
				New Item
			</button>
		</a>
	</div>
	</body>

</html>