<!DOCTYPE html>
<html>
	<head>
		<h1> {{category.name}}</h1>
		<h2>Items</h2>
	</head>
	

	<body>
		{% for item in items %}
		<tr>
			<div>
				<td> {{item.name}} : {{item.description}} </td>
				<a href = "{{url_for('editItem', cat_id = category.cat_id, item_id=item.item_id)}}">
					<button class="button" id="edit">Edit</button>
				</a>
				<a href = "{{url_for('deleteItem', cat_id = category.cat_id, item_id=item.item_id)}}">
					<button class="button" id="delete">Delete</button>
				</a>
			</div>
		</tr>
		{% endfor %}
		<div>
			<a href="{{url_for('newItem', cat_id=category.cat_id)}}">
				<button class="button" id="newItem"> New Item</button>
			</a>
		</div>
		<div>
		<a href="{{url_for('showCategories')}}">
			<button class="button" id="show-categories">
				Show Categories
			</button>
		</a>
	</div>
	<div>
	</body>

</html>